<p>
	<a href="{{source_url}}">{{sitename}}</a> is an Express application to be 
	used as a starting point for building dynamic web applications using 
	<a href="https://nodejs.org">Node.js</a> and 
	<a href="http://expressjs.com">Express</a>.
</p>

<form action="/" method="POST" enctype="multipart/form-data">
	<input type="file" name="upload">
	<label>Caption <input type="text" name="caption" placeholder="Please enter a caption."></label>
	<button type="submit">Upload</button>
</form>

{{#each images}} 
<figure>
	<img src="/uploads/{{filename}}" alt="">
	<figcaption><p>{{caption}}</p></figcaption>
</figure>
{{/each}}
